    
.container{
    width: 500px;
    min-height: 560px;
    margin: 0px auto;
    position: relative;
 }
input{
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
} 
label{
    color: cornsilk;
}
body{
    background: linear-gradient(5deg, rgba(2,0,36,1) 0%, rgba(19,175,176,1) 45%, rgba(0,212,255,1) 67%);
}
h2{
    color: rgb(245, 239, 239);
    text-align: center;
}

h3{
    color: rgb(245, 239, 239);
    text-align: center;
}
p{
    color: darkblue;
}
.btn{
    color: rgb(10, 7, 4);
    border-radius: 4px;
    border-bottom: black;
    cursor: pointer;
}
legend{
    color: darkblue;
}